* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.bgImage {
  position: relative;
  width: 100%;
  height: 86vh;
  background-image: url("https://live.staticflickr.com/2407/2439390497_40678a0d62_b.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.bgImage::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content h1 {
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
}

.content p {
  font-size: 20px;
  color: white;
  opacity: 0.8;
}

.content button {
  padding: 12px 22px;
  margin-top: 30px;
  font-size: 22px;
  border: none;
  outline: none;
  color: white;
  background-color: #0077b6;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 25px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.5s;
  
}

.content button:hover {
  opacity: 1;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  text-align: center;
}

header {
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 0 3px #000;
  padding-bottom: 30px;
  padding-top: 30px;
}

header li {
  display: inline;
  padding-left: 45px;
}

header li a {
  color: #333;
  text-decoration: none;
  padding: 7px;
  transition: 0.3s ease;
}

header li a:hover {
  color: royalblue;
}

header ul #contact a {
  color: #fff;
  background-color: royalblue;
  border-radius: 30px;
  float: right;
  position: relative;
  top: -15px;
  transition: 0.3s ease;
}

header ul #contact a:hover {
  background-color: goldenrod;
}

.active {
  color: royalblue;
}

header li img {
  width: 300px;
  float: left;
  margin-top: -25px;
}

a {
  text-decoration: none;
}

.blog-all-text {
  font-family: sans-serif;
  text-align: left;
  margin: 20px;
  padding: 30px;
  background-color: #daf1fa;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

section {
  padding: 20px;
}

.blog-text {
  margin-top: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 5px;
}

.blog-ul {
  margin-left: 75px;
  margin-right: 50px;
}

.blog-title {
  padding-bottom: 30px;
  margin-top: -30px;
}

#blog-logo-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

h3 {
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 50px;
  margin-right: 50px;
}

.block-section {
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: center;
  margin-left: 50px;
}

#me-and-mila-img {
  height: 400px;
  width: 300px;
  border: solid white 1px;
  margin-right: 10px;
  border-radius: 2%;
}

.quote {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  color: #0077b6;
  font-weight: bold;
  font-style: italic;
}

blockquote hr {
  border-top: solid 10px royalblue;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

.tb-main {
  font-family: sans-serif;
  text-align: left;
  margin: 20px;
  padding: 30px;
  background-color: #eeeeee;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

h4 {
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#tc-blog-subtitle {
  text-align: center;
  font-size: 35px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.css-example-section {
  display: block;
  margin-right: 100px;
  margin-left: 100px;
}

.tb-intro {
  margin-top: 20px;
  margin-bottom: 30px;
}

.example-img {
  position: relative;
  left: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#video-link-css {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  background-color: royalblue;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin-top: 4px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-github {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background: #55acee;
  color: white;
}

#contact-main {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #1b1b32;
  color: #f5f6f7;
  font-family: Tahoma;
  font-size: 16px;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input,
textarea {
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
}

#submit-btn :hover {
  background-color: white;
  color: black;
}

#learning-path-logo {
  margin-top: 20px;
  margin-bottom: 5px;
}

#blog-logo-img-lp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}



.lp-heading {
  display: block;
  text-align: left;
  font-size: 35px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 50px;
  margin-right: 50px;
  color: #333;
}

.lp-text {
  display: block;
  text-align: left;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 15px;
  color: #333;
}

.lp-text-li {
  display: block;
  text-align: left;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 5px;
  text-decoration: none;
  color: #333;
}

.lp-ul {
  margin-top: 50px;
  margin-left: 10px;
  margin-bottom: 50px;
}

span {
  margin-left: 15px;
}

#day-plan {
  margin-top: 50px;
  margin-bottom: 50px;
}


.banner {
  position: relative;
  width: 100vw; /* Set the width to 100vw to take up the full width of the viewport */
  height: 500px; /* Set the height as desired */
  overflow: hidden;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.banner img {
  width: 100%; /* Set the image width to 100% to fill the banner container */
  height: 100%; /* Set the image height to 100% to fill the banner container */
  object-fit: cover;
  filter: contrast(30%);
  z-index: 1;
}

.banner-heading {
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translateY(-50%);
  color: whitesmoke;
  font-size: 80px; /* Set the desired font size */
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  z-index: 2;
}





.banner-content {
  position: absolute;
  top: 35%;
  left: 10.5%;
  transform: translateY(-50%);
  font-size: 47px;
  color: whitesmoke;
  font-weight: bold;
  font-style: italic;
}


/* nav section for blogs */

/* Styling for the navigation section container */
.navsection {
  width: 100%;
  background-color: #0D0D0D; /* Set your desired background color */
  color: #fff; /* Set your desired text color */
  padding: 20px 0; /* Set your desired padding */
}

/* Styling for the navigation section header */
.navheader {
  text-align: center;
  font-size: 24px; /* Set your desired font size */
  margin-bottom: 10px; /* Set your desired margin bottom */
  background-color: #0D0D0D;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

/* Styling for the navigation section container */
.navcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for the navigation arrows */
.navarrow {
  font-size: 30px; /* Set your desired font size for the arrows */
  cursor: pointer;
  padding: 0 10px; /* Set your desired padding for the arrows */
}

/* Styling for the navigation links */
.navlinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for the navigation link items */
.navlinks ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Display the list horizontally */
}

/* Styling for the navigation link items */
.navlinks li {
  margin: 0 10px; /* Set your desired margin between the link items */
  text-align: center;
}

/* Styling for the navigation link icons */
.navlinks i {
  font-size: 36px; /* Set your desired font size for the icons */
  margin-bottom: 5px; /* Set your desired margin bottom for the icons */
}

/* Styling for the navigation link text */
.navlinks a {
  text-align: center;
  display: block;
  font-size: 18px; /* Set your desired font size for the link text */
  color: royalblue;
}

.navlinks a:hover {
  color: #39FF14; /* Set your desired color for hover effect */
}


.section-E{
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

/* JS Blog */
.cat-container {
  display: flex; /* Display images in a row */
  justify-content: center; /* Center align images horizontally */
  flex-wrap: wrap; /* Wrap images to next row if needed */
}

.cat-container img {
  max-width: 100%; /* Set maximum width to 100% for responsiveness */
  height: auto; /* Automatically adjust height to maintain aspect ratio */
  margin: 5px; /* Add margin between images for spacing */
  width: 300px; /* Set desired width for medium-sized images */
  object-fit: cover; /* Ensure all images have the same size by covering any extra space */
}

.cat-container .caption {
  text-align: center; /* Center align captions */
  margin-top: 5px; /* Add margin above captions for spacing */
}

.cat-text{
  font-size: 26px;
  color: #333;
}


/* /////// Media query for EQ IQ////// */

@media screen and (max-width: 768px) {
  /* Adjust styles for mobile devices */
  header ul {
    flex-direction: column;
    align-items: center;
  }
  header ul li {
    margin-bottom: 1rem;
  }
  #learning-path-logo {
    text-align: center;
  }
  .lp-heading {
    font-size: 1.5rem;
  }
  .lp-text {
    font-size: 1rem;
  }
  .lp-ul {
    padding-left: 1rem;
  }
  .navsection {
    display: none;
  }
}